*.ipynb_checkpoints
sandbox/
dev/_datasets/
dev/_notebooks/outputs/
weights/

# Python build artifacts
dist/
*.egg-info/

# PyInstaller outputs
build/
dist/
*.spec

# Python run artifacts
__pycache__/
